        p{
            color: darkred;
            text-align: center;
        }
        address{
        color: black;
        text-align: right;
        }
        h1{
            color: purple;
            background-color:turquoise;
            font-family:monospace;
            text-align: center;
            
        }
        h2{
            color: purple;
            background-color:turquoise;
            font-family:monospace;
            text-align: center;
            
        }
        h3{
            color: purple;
            background-color:turquoise;
            font-family:monospace;
            text-align: center;
        }
        h4{
            color: purple;
            background-color:turquoise;
            font-family:monospace;
            text-align: center;
            
        }
        h5{
            color: purple;
            background-color:turquoise;
            font-family:Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            
        }
        body{
            color: purple;
                background-color:turquoise;
                font-family:monospace;
            }
        .heart{
                background: var(--heart);
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 0 5px;
                position: relative;
                cursor: pointer;
                transform: rotate(-45deg);
                transition: all 0.5s var(--bounce) 0s;
            }